<h2>Post a comment</h2>

<%= form_for [ @allblog, @comment ] do |f| %>
    <p>
    <%= f.label :Comment %><br/>
    <%= f.text_field :comment %>
    <%= f.hidden_field :blog_id, :value => @allblog.id%>
    </p>
    
    <%= f.submit 'Submit' %>
    </p>
<% end %>


