<%= javascript_include_tag Ckeditor.cdn_url %>
<h2>Create New Blog</h2>

<%= form_for @allblog, :url =>{:action => "update", :id => @allblog} do |form| %>
    <div class="container">
        <div class="form-group">
            <label>Headline</label>
            <%= form.text_field "headline" %>
        </div>

        <div class="form-group">
            <label>Brief</label>
            <%= form.text_field "text" %>
        </div>

        <div class="form-group">
            <label>Description</label>
            <%= form.cktext_area "description", ckeditor: { language: 'en'} %>
        </div>
        <%= submit_tag "Save Changes" %>
    </div>
<% end %>