<% if @allblogs.blank? %>
<h1>Create your first <%= link_to "blog", {:action => 'new'} %></h1>
<% else %>
<h1>Your created blogs:</h1>
<hr>

<div class="container">
    <ul id = "allblogs" class="list-group">
        <% @allblogs.each do |c| %>
            <li class="list-group-item well"><%= link_to c.headline, {:action => 'show', :id => c.id} -%>
            <hr><p><b><%= link_to "Edit", {:action => 'edit', :id => c.id } -%></b>
            <b><%= link_to "Delete", allblog_path(:id =>c.id), :method => 'delete' %></b></p></li>
        <% end %>
        
    </ul>

    <h3><%= link_to "Create new Blog", {:action => 'new' }%></h3>
</div>


<% end %>