<div class="container">
    <div class="well">
        <h1><%= @allblog.headline %></h1>
        <p><%=raw @allblog.description %></p>
    <div>

    <div>
        <h2>Comments</h2>
        <% @comments.each do |c| %>
            <p><%= c.comment %></p>
        <% end %>
    </div>
</div>
<hr>
<br>
<div class="container">
<%= render partial: 'comments/form' %>
</div>
<%= link_to 'Back', {:action => 'index'} %>